jobs:
- job: Docs_PR
  displayName: Docs PR

  pool:
    vmImage: ubuntu-16.04

  steps:
  - template: ./docs-steps.yml
    parameters:
      upload: true

- job: macOS_CI_Tests
  displayName: macOS CI Tests

  variables:
    platformName: macos

  pool:
    vmImage: xcode9-macos10.13

  steps:
  - template: ./macos-steps.yml


- job: Ubuntu_CI_Tests
  displayName: Ubuntu CI Tests

  pool:
    vmImage: ubuntu-16.04

  variables:
    platformName: linux
    openssl_version: 1.1.0g

  steps:
  - template: ./posix-steps.yml


- job: Ubuntu_Coverage_CI_Tests
  displayName: Ubuntu CI Tests (coverage)

  pool:
    vmImage: ubuntu-16.04

  variables:
    platformName: linux
    openssl_version: 1.1.0g

  steps:
  - template: ./posix-steps.yml
    parameters:
      coverage: true


- job: Windows_CI_Tests
  displayName: Windows CI Tests

  pool:
    vmImage: vs2017-win2017

  strategy:
    matrix:
      win32:
        arch: win32
        buildOpt:
        platformName: win32
      win64:
        arch: amd64
        buildOpt: '-p x64'
        platformName: win64
    maxParallel: 2

  steps:
  - template: ./windows-steps.yml
