# Current docs for the syntax of this file are at:
#  https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted.md

parameters:
  openssl:
  installDependencies: false
  xvfbCommand:

steps:
- checkout: self
  clean: true
  fetchDepth: 5

- script: |
   git fetch -q origin $(system.pullRequest.targetBranch)
   if ! git diff --name-only HEAD $(git merge-base HEAD FETCH_HEAD) | grep -qvE '(\.rst$|^Doc|^Misc)'
   then
     echo "Only docs were updated, stopping build process."
     echo "##vso[task.setvariable variable=DocOnly]true"
     exit
   fi
  displayName: Detect doc-only changes
  condition: and(succeeded(), variables['system.pullRequest.targetBranch'])

- ${{ if parameters.installDependencies }}
  - script: ./.vsts/install_deps.sh
    displayName: 'Install dependencies'
    condition: and(succeeded(), ne(variables['DocOnly'], 'true'))

- ${{ if ne(parameters.openssl, '') }}
  - script: |
      echo ##vso[task.prependpath]$(build.sourcesDirectory)/multissl/openssl/${{ parameters.openssl }}
      echo ##vso[task.setvariable variable=OPENSSL_DIR]$(build.sourcesDirectory)/multissl/openssl/${{ parameters.openssl }}
    displayName: 'Add OpenSSL directory to PATH'
    condition: and(succeeded(), ne(variables['DocOnly'], 'true'))

  - script: python3 Tools/ssl/multissltests.py --steps=library --base-directory $(build.sourcesDirectory)/multissl --openssl ${{ parameters.openssl }} --system Linux
    displayName: 'python multissltests.py'
    condition: and(succeeded(), ne(variables['DocOnly'], 'true'))


- script: ./configure --with-pydebug
  displayName: 'Configure CPython (debug)'
  condition: and(succeeded(), ne(variables['DocOnly'], 'true'))

- script: make -s -j4
  displayName: 'Build CPython'
  condition: and(succeeded(), ne(variables['DocOnly'], 'true'))

- script: make pythoninfo
  displayName: 'Display build info'
  condition: and(succeeded(), ne(variables['DocOnly'], 'true'))

- script: $(xvfbCommand) make buildbottest TESTOPTS="-j4 -uall,-cpu --junit-xml=$(build.binariesDirectory)/test-results.xml"
  displayName: 'Tests'
  condition: and(succeeded(), ne(variables['DocOnly'], 'true'))

- task: PublishTestResults@2
  displayName: 'Publish Test Results'
  inputs:
    testResultsFiles: '$(build.binariesDirectory)/test-results.xml'
    mergeTestResults: true
    platform: $(platformName)
  condition: and(succeededOrFailed(), ne(variables['DocOnly'], 'true'))
