jobs:
- job: PR_Patchcheck
  displayName: PR Patchcheck

  pool:
    vmImage: ubuntu-16.04

  steps:
  - task: UsePythonVersion@0
    displayName: Use Python 3.7
    inputs:
      versionSpec: 3.7
      architecture: x64
  # Run patchcheck and fail if anything is discovered
  - script: python Tools/scripts/patchcheck.py --travis true
    displayName: 'Run patchcheck.py'


- job: macOS_PR_Tests
  displayName: macOS PR Tests
  dependsOn: PR_Patchcheck

  variables:
    platformName: macos

  pool:
    vmImage: xcode9-macos10.13

  steps:
  - template: ./posix-steps.yml


- job: Ubuntu_PR_Tests
  displayName: Ubuntu PR Tests
  dependsOn: PR_Patchcheck

  pool:
    vmImage: ubuntu-16.04

  variables:
    platformName: linux

  steps:
  - template: ./posix-steps.yml
    parameters:
      installDependencies: true
      openssl: 1.1.0g
      xvfbCommand: xvfb-run


- job: Windows_PR_Tests
  displayName: Windows PR Tests
  dependsOn: PR_Patchcheck

  pool:
    vmImage: vs2017-win2017

  strategy:
    matrix:
      win32:
        arch: win32
        buildOpt:
        platformName: win32
      win64:
        arch: amd64
        buildOpt: '-p x64'
        platformName: win64
    maxParallel: 2

  steps:
  - template: ./windows-steps.yml
