jobs:
- job: macOS_PR_Tests
  displayName: macOS PR Tests

  variables:
    platformName: macos

  pool:
    vmImage: xcode9-macos10.13

  steps:
  - template: ./macos-steps.yml


- job: Ubuntu_PR_Tests
  displayName: Ubuntu PR Tests

  pool:
    vmImage: ubuntu-16.04

  variables:
    platformName: linux
    openssl_version: 1.1.0g

  steps:
  - template: ./posix-steps.yml


- job: Windows_PR_Tests
  displayName: Windows PR Tests

  pool:
    vmImage: vs2017-win2017

  strategy:
    matrix:
      win32:
        arch: win32
        buildOpt:
        platformName: win32
      win64:
        arch: amd64
        buildOpt: '-p x64'
        platformName: win64
    maxParallel: 2

  steps:
  - template: ./windows-steps.yml
